doctype html
html
  head
    title This is not financial advice
    link(rel='stylesheet', href='/stylesheets/style.css')
      
  body

    nav
      ul
        li
          a(href='/') This is not financial advice
        li
          a(href='/new') New Advice

    .container
      block content
